{# empty Twig template #}



{% for message in messages %}

    <div class="unMessage media">
        <div>
            <a class="pull-left" href="#" style="width:70px;height:70px;">
                <img class="media-object" data-src="" src="{{ asset(message['auteur'].path) }}"/>
            </a>
        </div>
        
        <div class="media-body">
            <h6 class="media-heading">
                <strong>{{ message['auteur'].username }}</strong>
                <time>{{ message['message'].dateEnvoiMessage|date('d/m/y h:m') }}</time>
            </h6>
            <p>{{ message['message'].contenuMessage }}</p>
        </div>

    </div>

{% endfor %}
