{# empty Twig template #}

<form id="formSupprimerConversation" action="{{ path('mind_conversation_supprimer') }}" class="form-horizontal" method="POST">
    
    {% include 'MindMpBundle:Conversation:liste_conversations.html.twig' %}
    
    {% if conversations is not empty %}
            <input type="submit" class="btn btn-primary" value="Supprimer" name="supprimerConversation"/>
    {% endif %}
            
</form>