{# empty Twig template #}

{% block titre_messagerie %}
    <h3>Archive de messagerie</h3>
{% endblock %}
    
<form id="formSupprimerConversation" action="{{ path('mind_mp_supprimer') }}" class="form-horizontal" method="POST">
    
    
    
    <ul>
    {% for conversation in form.id %}
        
            <li class="">
                
                {{ form_widget(conversation, { 'attr': 
                                                        {'style': 'vertical-align:top;'}
                                             }
                              ) 
                }}
                
                <a id="linkTo" class="" style="display: inline-block;  padding-left: 5px;" href="#">
                {{ form_label(conversation) }}
                {% render controller('MindMpBundle:Messagerie:getLastMessageForConversation', {'idConversation': conversation.vars.value }) %}
                </a> 
            </li>
        
    
    {% endfor %}
    </ul>
    
    {% if form.id is empty %}
        <span class="alert alert-message alert-info">Vous n'avez actuellement aucun message archivé.</span>
    {% else %}
    <input type="submit" class="btn btn-primary label-important" value="Supprimer" name="archiver"/>
    {% endif %}

</form>

<script type="text/javascript">
    
    $(function(){
        //Corriger le bug de translation quand on passse un label°attr au label
       $("#linkTo > label").attr('style', 'padding-left:0px;') ;
    });

</script>
