
{# empty Twig template #}

<footer id="headerNiveauUn" class="row-fluid">
    <div align="center">
    Copyright Midosphere 2013 designed By Midosphere 
    </div>    
</footer>

{% if is_granted('ROLE_USER') %}
    <script type="text/javascript">

        $(function(){
            setInterval('getIsLu()', 10000);

        });


        function getIsLu(){

           var url = Routing.generate('mind_mp_conversation_non_lu');

            //Envoi de la requete ajax
            $.ajax({
                type: "POST",
                url: url,
                cache: false,
                success: function(data){
                    $('sup').html(data['nb']);
                }
            });  
        }

    </script>
{% endif %}