{# empty Twig template #}

<section class="row-fluid" id="headerNiveauUn">

    
    
    {# NOM DU SITE #}
    <span class="span8">
        <a href="{{ path('mind_site_homepage') }}" id="linkLogo">
                   <img src="{{ asset('img/templatemo_logo.png') }}" alt="" /> 
        </a>
    </span>

    {#
    <span class="span3" id="recherche">

        {% include 'MindRechercheBundle:Forms:form_recherche.html.twig' %}

    </span>
    #}

</section>

