{# empty Twig template #}

{% if is_granted('ROLE_USER') %}


<div id="menuProfil" class="media">
        <a class="pull-left" href="{{ path('mind_user_profile_voir', {'slug': app.user.slug }) }}">
            <img id="imgAvatar" class="media-object" src="{{ asset(app.user.path) }}" />
        </a>
        <div class="media-body">
            <p class="media-heading">
                <a href="{{ path('mind_user_profile_voir', {'slug': app.user.slug }) }}" title="">{{ app.user.username }}</a>
            </p>
            
        </div>
</div>
{% endif %}