<section id="menuGauche" class="span3">  

    <ul class="nav nav-list">
      
        <li><a href="#">Top Domaines <i align="right" class="icon-chevron-right"></i></a></li>
        <li><a href="#">Avis Positifs<i class="icon-chevron-right"></i></a></li>
        <li><a href="#">Avis Negatifs<i class="icon-chevron-right"></i></a></li>
        <li><a href="#" style="border-bottom:0px">Avis Mitigés <i class="icon-chevron-right"></i></a></li>
        
    </ul>
        
</section>
