{# empty Twig template #}

<section id="menuDroit" class="span3">

    <ul class="nav nav-list">
        <li class="nav-header">Avis</li>
    </ul>
         
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" data-src="" />
        </a>
        <div class="media-body">
            <p class="media-heading">
                <a href="#" title="">Game of trone, une série déroutante</a>
            </p>
            
            <p class="infosLigne1"> Par
                 <a href="#" class="auteurPublication">Hipopeur</a>
                 <span class="dateLastPublication">il y a 1 heure</span>
             </p>
             <p class="infosLigne2">
                 <a href="#ancre"><i class="icon-comment"></i>32</a>
             </p>
        </div>
    </div>

    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" data-src="" />
        </a>
        <div class="media-body">
            <p class="media-heading">
                <a href="#" title="">ACN, une belle escroquerie</a>
            </p>
            
            <p class="infosLigne1"> Par
                 <a href="#" class="auteurPublication">Hipopeur</a>
                 <span class="dateLastPublication">le 30/04/1987</span>
             </p>
             <p class="infosLigne2">
                 <a href="#ancre"><i class="icon-comment"></i>32</a>
             </p>
        </div>
    </div>
    
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" data-src="" />
        </a>
        <div class="media-body">
            <p class="media-heading">
                <a href="#" title="">Game of trone, une série déroutante</a>
            </p>
            
            <p class="infosLigne1"> Par
                 <a href="#" class="auteurPublication">Hipopeur</a>
                 <span class="dateLastPublication">il y a 1 heure</span>
             </p>
             <p class="infosLigne2">
                 <a href="#ancre"><i class="icon-comment"></i>32</a>
             </p>
        </div>
    </div>
    
    <div class="listePlus">
        <a href="#">Liste des avis...</a>
    </div>
    
    <ul class="nav nav-list">
        <li class="nav-header active">Questions</li>
    </ul>
    
</section>