{# empty Twig template #}

         
                            
<div align="justify" class="desc alert alert-message alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    
    <p>
        L'idée : constituer une communauté d’internautes mieux avisée et nous enrichir mutuellement 
        en partageant nos expériences de vie et nos avis et commentaires sur tous les biens et services 
        que nous avons appréciés ou non à destination des visiteurs du site.
    </p>
    
    <p>
        Ex : vous voulez passer un an d’étude en Australie ou Canada mais vous ne connaissez pas le coût de la vie, 
        Midosphère vous fournit l’avis de ceux qui ont déjà fait le voyage. Si l’avis n’existe pas, vous pouvez 
        poser une question à la « communauté Midosphère », question qui sera vue par tout internaute dans le domaine
        « Voyage » ou « Etude ».
    </p>
    
    <p>
        La « communauté » peut apporter réponses et conseils aux questions de vie courante mais aussi échanger sur 
        tous les domaines qui tissent nos vies quotidiennes, de A comme amour, acné à Z comme zombies, Zola ou le 
        zouk en passant par banque, livre, examen, orientation, métiers, les lieux de vacances, grossesse, les 
        sciences, maternité, mode, musique, musée/expo, resto, santé, sexualité, voyage, shopping, beauté, cinéma,
        série TV…
    </p>
    
    
    
    {#
    <p>Être mieux avisé et nous enrichir mutuellement de nos expériences en partageant nos
    avis, impressions et commentaires sur tous les biens et services que nous avons 
    appréciés ou non à destination des visiteurs du site. </p>
    
    <p>
        Echangeons sur tous les domaines qui tissent nos vies quotidiennes, de A (comme
        amour, acné, actu) à Z (comme Zola ou... Zorro), en passant par banque, livre, examen,
        orientation, métiers, grossesse, accouchement, maternité, mode, musique, musée/expo,
        resto, santé, sexualité, voyage, shopping, séries TV...
    </p>
    
    <p>
        Faites entendre votre voix et soyez parmi les premiers (ou les derniers) à 
        donner votre avis.
    </p>#}
    
</div>
                          
                      
                            
                            
                            