{% set nbDiv    = lesDomaines|length / 4 %}
{% set nbElmt   = lesDomaines|length // 4 %}

{% set tabIndex = 0 %}

{% if nbDiv > nbElmt %}
    {% set nbElmt = nbElmt + 1 %}
{% endif %}

<table id="popoverTable" class="table table-striped table-bordered">
    
    <tbody>
        {% for i in 1..nbElmt %}
        <tr>
            {% if lesDomaines[tabIndex] is defined and lesDomaines[tabIndex] is not empty %}
            <td>{{ lesDomaines[tabIndex]|raw }}</td>
                {% set tabIndex = tabIndex + 1 %}
            {% endif %}
            
            {% if lesDomaines[tabIndex] is defined and lesDomaines[tabIndex] is not empty %}    
            <td>{{ lesDomaines[tabIndex]|raw }}</td>
                {% set tabIndex = tabIndex + 1 %}
            {% endif %}
            
            {% if lesDomaines[tabIndex] is defined and lesDomaines[tabIndex] is not empty %}
            <td>{{ lesDomaines[tabIndex]|raw }}</td>
                {% set tabIndex = tabIndex + 1 %}
            {% endif %}
            
            {% if lesDomaines[tabIndex] is defined and lesDomaines[tabIndex] is not empty %}
            <td>{{ lesDomaines[tabIndex]|raw }}</td>
                {% set tabIndex = tabIndex + 1 %}
            {% endif %}
        </tr>
        {% endfor %}
        
    </tbody>
    
</table>

