{# empty Twig template #}

{% extends "MindSiteBundle::layout.html.twig" %}

{% block title %}Les domaines {% endblock %}

{% block sectionCorps %}

    <div>
        <h3>Les domaines publiées</h3>
    </div>
    
    {% include 'MindSiteBundle:Domaines:liste_domaine.html.twig' %}
    
                         
{% endblock %}