{# empty Twig template #}

{# empty Twig template #}

{% extends "MindMpBundle::layout.html.twig" %}

{% block sectionCorps %}
<h3>Nouvelle conversation</h3>
    {% include 'MindMpBundle:Forms/Conversation:form_nouvelle_conversation_content.html.twig' %}
{% endblock %}