{# empty Twig template #}

{% extends "MindUserBundle:Admin:admin.html.twig" %}


{% block admin_contenu %}

{% if app.session.hasFlash('domaine-enregistre') %} 
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ app.session.flash('domaine-enregistre') }}
        
        {% if app.session.hasFlash('domaine-publie-ou-pas') %}
        <div class="alert alert-message">{{ app.session.flash('domaine-publie-ou-pas') }}</div>
        {% endif %}
        
    </div>
{% endif %}

<span class="row-fluid">
    <!-- Button to trigger modal -->
    <h3>Les domaines<a href="#modalAddDomaine" role="button" data-toggle="modal" class="btn btn-link">Ajouter un domaine</a></h3>
    
</span>

<div>
    {{ listeDomaines|raw }}
</div>

{% render controller('MindUserBundle:Domaine:domaines') %}

{% endblock admin_contenu %}

