{# empty Twig template #}

<div id="divAvatar">
    {% render controller('MindUserBundle:Compte:modifierAvatar') %}
    
</div>

<div id="progressBarAvatar" class="progress progress-striped active hide">
        <div class="bar"></div>
        <div class="percent">0%</div>
    </div>
    <div id="status"></div>

<div id="blockInfosPersos" class="row-fluid hoverBlock">
    
    <div class="row-fluid hoverHeaderTop">
        <div class="span11 titleTop">Informations personelles</div>
        <div class="hide blockEdit span1 btn btn-primary" onclick="hoverBlockEditClick('informationsPersonelles', 'blockInfosPersos')">
            {{ 'edit'|icon('white') }}
        </div>
    </div>
    
    <div id="informationsPersonelles" class="row-fluid">
        {% include 'MindUserBundle:Compte:Infos/infos_persos.html.twig' %}
    </div>
</div>


<div id="BlockInfosPersoslocalisation" class="row-fluid hoverBlock">

    <div class="row-fluid hoverHeaderTop">
        <div class="span11 titleTop">Localisation</div>
        <div class="hide blockEdit span1 btn btn-primary" onclick="hoverBlockEditClick('localisation', 'blockInfosPersosLocalisation')">
            {{ 'edit'|icon('white') }}
        </div>
    </div>
    
    <div id="localisation" class="row-fluid">
        {% include 'MindUserBundle:Compte:Infos/infos_persos_localisation.html.twig' %}
    </div>
    
</div>