/* 
    Document   : corpsStyle
    Created on : 14 juin 2013, 16:51:57
    Author     : FBI
    Description:
        Purpose of the stylesheet follows.
*/

/*
--------------------------------------------------------------------------------
Navigations
--------------------------------------------------------------------------------
*/

/*#navigationRapide h1, #navigationRapide p{
    display: inline-block;
}*/

#navigationRapide h1{
    font-size: large;
}

#navigationRapide .media-body{
    width: 200px;
}

.title h2{
    margin-bottom: 0px;
    margin-top: 0px;
    color:#268F8B;
}

.title span{
letter-spacing: 0.15em;
font-weight: 400;
font-size: 0.90em;

} 

.desc{
    margin: 20px 0px 20px 0px;
}

.modal-body input{
    height: 28px;
width: 160px;
}

.commentaire{
    margin-left: 10px;
}

.accordion-group {
    margin-top: 10px
}

/*
--------------------------------------------------------------------------------
Corps avis et question lecture
--------------------------------------------------------------------------------
*/

#dataLecture{
    margin-top: 20px;
}