/* 
    Document   : elements
    Created on : 31 juil. 2013, 00:16:14
    Author     : root
    Description:
        Purpose of the stylesheet follows.
*/

/*******************************************************************************
*Block infos sur les avis et question
********************************************************************************/

.infosElmt{
    border: solid 1px #BBBBBB;
    padding: 5px;
    margin-top: 20px;
}

.infosElmt .media, .infosElmt h5.media-heading {
   
}

.infosElmt .pull-left .media-object{
    height: 46px;
    width: 46px;
    background-color: #BBBBBB;
}

.slideElmts{
    height: 500px;
}

.slideElmts img{
    margin: 0 auto 0 auto;
    display: block;
}

/*******************************************************************************
* Pour toute la partie conversation 
********************************************************************************/

#conversationContent{
    width: 700px;
}

#conversationContent, #conversationContent > div > div {
    padding-left: 20px;
}

#conversationContent > div{
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
}

#msgContent{
    margin-bottom: 40px;
    
}

#conversationContent h5{
    padding-left: 5px;
}

/*******************************************************************************
* Date 
********************************************************************************/
.dateElmt{
    font-size: small;
    display: block;
    margin-top: -5px;
}