/* 
    Document   : menuDGStyle
    Created on : 14 juin 2013, 13:01:46
    Author     : FBI
    Description:
        Purpose of the stylesheet follows.
*/

/*
--------------------------------------------------------------------------------
Communs
--------------------------------------------------------------------------------
*/

#menuGauche, #menuDroit{
background-color: #FFFFFF;
border: 1px solid #e5e5e5;
border-radius: 5px 5px 5px 5px;
margin: 10px 0px;
}

#menuProfil{
    padding: 5px 5px 5px 5px;
}
.listePlus{
    text-align: right;
}


#menuGauche a{
padding: 8px 14px;
/*border-bottom: 1px solid #e5e5e5;*/
}

header #notification i, #compte .compteI i {
    float: left;
}

.menuGDTitle{
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #E5E5E5;
}


/*
--------------------------------------------------------------------------------
Menu Droit
--------------------------------------------------------------------------------
*/

#menuDroit{
    padding-left: 5px;
    border: 1px solid #e5e5e5;
    margin-left: 5px;
}

