{# empty Twig template #}

<form id="formHeaderSearch" class="navbar-form" style="display:inline-block;" method="POST" action="{{ path('mind_recherche_homepage') }}">
    
    <div class="input-append">
        <input id="appendedInput" type="search" name="inputHeaderSearch" placeholder="Recherche">
        <button class="btn input-small" type="submit"><i class="icon-search"></i></button>
        <button id="optionsDeRecherche" date-url="#" href="#" title="Rechercher dans :" data-type="checklist" data-pk="1" class="btn input-small" type="button">Options</button>
    </div>
    
    <input id="inputOptions" type="hidden" name="optionsDeRecherche" value="1,2"/>
</form>

<style type="text/css">
    
    #formHeaderSearch label span{
        color: black;
    }
</style>
    
<script type="text/javascript">
$(function(){
    
    var optionsEditable = {
        value: [1, 2], 
        send: 'never',
        source: [
                    {value: 1, text: 'Avis'},
                    {value: 2, text: 'Questions'},
                    {value: 3, text: 'Domaines'},
                    {value: 4, text: 'Membres'}
                ],
        display: function(value, sourceData) {
            //display checklist as comma-separated values
            /*var html = [],
                checked = $.fn.editableutils.itemsByValue(value, sourceData);
            
            if(checked.length) {
                                    $.each(checked, function(i, v) { html.push($.fn.editableutils.escape(v.text)); });
                                    $(this).html(html.join(', '));
            } else {
                $(this).empty();
            }*/
        }
    };
    
    
    $('#optionsDeRecherche').editable(optionsEditable);
    
    $('#optionsDeRecherche').on('save', function(e, params) {
        $('#inputOptions').attr('value', params.newValue);
    });
    
    
});
</script>

