{# empty Twig template #}


{% extends "MindRechercheBundle::layout.html.twig" %}

{% block sectionCorps %}

<span class="row-fluid">
    {% include 'MindRechercheBundle:Recherche:recherche_content.html.twig' %}
</span>

{% endblock %}