{# empty Twig template #}

<h3>Résultats de votre recherche</h3>

{% block messageFlash %}
        {% include 'BcBootstrapBundle::flash.html.twig' with { 'close': true } %}
{% endblock %}

{% include 'MindRechercheBundle:Forms:form_recherche_page.html.twig' %}


    <ul class="nav nav-tabs" id="tabResultats">
        <li class="active">
            <a href="#avis">Avis ({% include 'MindRechercheBundle:Resultats:ras.html.twig' %})</a>
        </li>
        <li>
            <a href="#questions">Questions ({% include 'MindRechercheBundle:Resultats:ras.html.twig' %})</a>
        </li>
        <li>
            <a href="#domaines">Domaines ({% include 'MindRechercheBundle:Resultats:ras.html.twig' %})</a>
        </li>
        <li>
            <a href="#membres">Membres ({% include 'MindRechercheBundle:Resultats:ras.html.twig' %})</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="avis">
            {% if msg is empty %}
                {% include 'MindRechercheBundle:Resultats:avis.html.twig' %}
            {% endif %}
        </div>
        <div class="tab-pane" id="questions">
            {% if msg is empty %}
                {% include 'MindRechercheBundle:Resultats:questions.html.twig' %}
            {% endif %}
        </div>
        <div class="tab-pane" id="domaines">
            {% if msg is empty %}
                {% include 'MindRechercheBundle:Resultats:domaines.html.twig' %}
            {% endif %}
        </div>
        <div class="tab-pane" id="membres">
            {% if msg is empty %}
                {% include 'MindRechercheBundle:Resultats:membres.html.twig' %}
            {% endif %}
        </div>
    </div>

<script>
$(function () {
    
    $('#tabResultats a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
    
    $('#tabResultats a:first').tab('show');
})
</script>