{# empty Twig template #}

{% block titre_messagerie %}
    <h3>Boite de récéption</h3>
{% endblock %}

<form id="formArchiverConversation" action="{{ path('mind_mp_a_archiver') }}" class="form-horizontal" method="POST">
    
    
    
    <ul>
    {% for conversation in form.id %}
        
            <li class="">
                
                {{ form_widget(conversation, { 'attr': 
                                                        {'style': 'vertical-align:top;'}
                                             }
                              ) 
                }}
                {% render controller('MindMpBundle:Messagerie:isLu', {'idConversation': conversation.vars.value }) %}
                <a id="linkTo" class="" style="display: inline-block;  padding-left: 5px;" href="{{ path('mind_mp_conversation', {'idConversation': conversation.vars.value}) }}">
                
                {{ form_label(conversation) }}
                {% render controller('MindMpBundle:Messagerie:getLastMessageForConversation', {'idConversation': conversation.vars.value }) %}
                </a> 
            </li>
        
    {% endfor %}
    </ul>
    
    {% if form.id is empty %}
        <span class="alert alert-message">Vous n'avez actuellement aucun message.</span>
    {% else %}
    <input type="submit" class="btn btn-primary label-important" value="Archiver" name="archiver"/>
    {% endif %}

</form>

<script type="text/javascript">
    
    $(function(){
        //Corriger le bug de translation quand on passse un label°attr au label
       $("#linkTo > label").attr('style', 'padding-left:0px;') ;
    });

</script>
